<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pokedex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C630B2601E16E979004F7BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C630B2741E16E979004F7BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C630B27F1E16E979004F7BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
